{% extends "encyclopedia/layout.html" %}

{% block title %}
Create
{% endblock %}

{% block body %}
    <h1 class="create_title">Create New Page</h1>

    <form class="create_form" action="{% url 'create' %}" method="POST">
        {% csrf_token %}
        <input class="create" type="text" name="title" placeholder="New Title">
        <textarea class="create" name="content" placeholder="New Content"></textarea>
        <input class="create" type="submit" value="save">
    </form>

{% endblock %}